﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>

<body>
<div id="header">
   <h1><a href="/">ASP.NET MVC FORUM</a></h1>
    @Html.Partial("_LogOnPartial")
   <ul id="navlist">
       <li class="first"><a href="@Url.Content("~") id="current">Home</a></li>
       <li><a href="@Url.Content("~/Forum/")">Forum</a></li>
       <li><a href="@Url.Content("~/ForumManager/")">Admin</a></li>  </ul>
</div>
    @{Html.RenderAction("MainTopicMenu", "Forum");}
    <div id="main"> @RenderBody()
</div>
<div id="footer">
<p>
Aleksandar Arnaudov</p>
</div>
</body>
</html>
