﻿@model ForumMVC.Models.MainTopic

@{
    ViewBag.Title = "Browse";
}

<div class="genre">
 <h3><em>@Model.Name</em> SecondTopics</h3>
  <ul id="album-list">
   @foreach (var topic in Model.SecondTopics) 
   { 
       <li> <a href="@Url.Action("Details", new { id = topic.SecondTopicId })"> <span>@topic.Title</span> </a> </li>
       } 
       </ul>
        </div>