﻿@model ForumMVC.Models.SecondTopic

@{
    ViewBag.Title = "SecondTopic - "+ Model.Title;
}

<h2>@Model.Title</h2>

<div id="album-details">
    <p>
        <em>MainTopic:</em>@Model.MainTopic.Name
    </p>
    <p>
        <em>Description:</em>@Model.MainTopic.Description
    </p>
</div>