﻿@model IEnumerable<ForumMVC.Models.MainTopic>

@{
    ViewBag.Title = "Index";
}

<h2>Browse MainTopic</h2>
<p>
    Select from @Model.Count() maintopic:
</p>
<ul>
    @foreach (var maintopic in Model)
    {
        <li>@Html.ActionLink(maintopic.Name, "Browse", new { maintopic=maintopic.Name})</li>
    }
</ul>