﻿@model IEnumerable<ForumMVC.Models.MainTopic>

<ul id="categories"> 
@foreach (var genre in Model)
{ 
    <li>@Html.ActionLink(genre.Name, "Browse", "Forum", new { Genre = genre.Name }, null)</li>
}
</ul>