﻿@model ForumMVC.Models.SecondTopic

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>
<p>Are you sure you want to delete the SecondTopic titled <strong>@Model.Title</strong>?
</p>
@using (Html.BeginForm()) 
{
<p>
    <input type="submit" value="Delete" />
</p>
<p>
     @Html.ActionLink("Back to List", "Index")
</p>
}
