﻿@model ForumMVC.Models.SecondTopic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SecondTopic</legend>

    <div class="display-label">MainTopic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MainTopic.Name)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SecondTopicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
