﻿@model ForumMVC.Models.SecondTopic

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SecondTopic</legend>

        @Html.HiddenFor(model => model.SecondTopicId)

        <div class="editor-label">
            @Html.LabelFor(model => model.MainTopicId, "MainTopic")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MainTopicId", String.Empty)
            @Html.ValidationMessageFor(model => model.MainTopicId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
