﻿@model IEnumerable<ForumMVC.Models.SecondTopic>

@helper Truncate(string input, int length)
{
if (input.Length <= length) 
{
     @input
} else 
    { 
       @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            MainTopic
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MainTopic.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SecondTopicId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SecondTopicId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SecondTopicId })
        </td>
    </tr>
}

</table>
